# External Lab 

Here each question is of 1 mark.

# Multiple Linear Regression

## Problem Statement

Use Multiple Linear Regression to **predict the consumption of petrol** given relevant variables are the petrol tax, the per capita, income, the number of miles of paved highway, and the proportion of the population with driver's licenses.

## Dataset

There are 48 rows of data.  The data include:

      I,  the index;
      A1, the petrol tax;
      A2, the per capita income;
      A3, the number of miles of paved highway;
      A4, the proportion of drivers;
      B,  the consumption of petrol.

### Reference 

    Helmut Spaeth,
    Mathematical Algorithms for Linear Regression,
    Academic Press, 1991,
    ISBN 0-12-656460-4.

    S Weisberg,
    Applied Linear Regression,
    New York, 1980, pages 32-33.

## Question 1 - Exploratory Data Analysis

*Read the dataset given in file named **'petrol.csv'**. Check the statistical details of the dataset.*

**Hint:** You can use **df.describe()**

In [165]:
import pandas as pd
import numpy as np
import os
os.getcwd()
data = pd.read_csv("petrol-1.csv")
data.head(4)

   tax   income   highway     dl   consumption
0  9.0     3571      1976  0.525           541
1  9.0     4092      1250  0.572           524
2  9.0     3865      1586  0.580           561
3  7.5     4870      2351  0.529           414

In [166]:
data.describe()

             tax       income       highway         dl   consumption
count  48.000000    48.000000     48.000000  48.000000     48.000000
mean    7.668333  4241.833333   5565.416667   0.570333    576.770833
std     0.950770   573.623768   3491.507166   0.055470    111.885816
min     5.000000  3063.000000    431.000000   0.451000    344.000000
25%     7.000000  3739.000000   3110.250000   0.529750    509.500000
50%     7.500000  4298.000000   4735.500000   0.564500    568.500000
75%     8.125000  4578.750000   7156.000000   0.595250    632.750000
max    10.000000  5342.000000  17782.000000   0.724000    968.000000

# Question 2 - Cap outliers 

Find the outliers and cap them. (Use (Q1 - 1.5 * IQR) as the minimum cap and (Q3 + 1.5 * IQR) as the max cap. The decision criteria is you should consider the datapoints which only falls within this range. The data points which fall outside this range are outliers and the entire row needs to be removed

In [171]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#sns.pairplot( data , diag_kind='kde')
from scipy import stats
#indexNames = dfObj[ (dfObj['Age'] >= 30) & (dfObj['Age'] <= 40) ].index
#dfObj.drop(indexNames , inplace=True)
newdata = data[(np.abs(stats.zscore(data)) < 2.698).all(axis=1)]
newdata.corr()
#newdata.describe()

                   tax    income   highway        dl   consumption
tax           1.000000  0.009627 -0.408315 -0.275848     -0.462952
 income       0.009627  1.000000  0.088335  0.115340     -0.402622
 highway     -0.408315  0.088335  1.000000 -0.070505     -0.004553
 dl          -0.275848  0.115340 -0.070505  1.000000      0.605226
 consumption -0.462952 -0.402622 -0.004553  0.605226      1.000000

# Question 3 - Independent variables and collinearity 
Which attributes seems to have stronger association with the dependent variable consumption?

#DL and Tax have stronger association, former is directly proportional while later is inversely proportional.

### Observing the above correlation values between all the variables, we can see that there is stronger association between the number of drivers and consumption. And comparatively tax has an association in a negative way. 
Insights :
As tax increases the consumption decreases.
As number of drivers is more consumption is more

# Question 4 - Transform the dataset 
Divide the data into feature(X) and target(Y) sets.

In [157]:
from sklearn.linear_model import LinearRegression
#columns = ["tax", "income", "highway", "dl", "consumption"]
#newdata = newdata.reindex(columns=columns)
newdata
x1 = newdata[[" dl"]]
x2 = newdata[["tax"]]
#x = newdata[[" dl", "tax"]]
y = newdata[[" consumption"]]

# Question 5 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.

In [226]:
from sklearn.model_selection import train_test_split
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y, test_size=0.20, random_state=1)
linreg1 = LinearRegression()
linreg1.fit(x1_train, y1_train)
print(linreg1.intercept_)
dlco=linreg1.coef_
print(dlco)
print(linreg1.score(x1_train,y1_train))
print('____')
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y, test_size=0.20, random_state=1)
linreg2 = LinearRegression()
linreg2.fit(x2_train, y2_train)
print(linreg2.intercept_)
taxco=linreg2.coef_
print(taxco)
print(linreg2.score(x2_train,y2_train))

[75.01340788]
[[850.52524568]]
0.2445141594398036
____
[821.41116447]
[[-34.44057623]]
0.12574875560618093

# Question 6 - Build Model 
Estimate the coefficients for each input feature. Construct and display a dataframe with coefficients and X.columns as columns

In [231]:
y1_test = linreg1.intercept_ + linreg1.coef_ * x1_test
#plt.plot(x1_test,y1_test)
#plt.scatter(x1_test,y1_test)
y2_test = linreg2.intercept_ + linreg2.coef_ * x2_test
#plt.plot(x2_test,y2_test)
#plt.scatter(x2_test,y2_test)

In [232]:
#newdf = pd.DataFrame(columns="1,2", data="3,4")
d = {'taxcoefficient': [taxco], 'dlcoefficient': [dlco]}
newdf = pd.DataFrame(data=d)
newdf

           taxcoefficient          dlcoefficient
0  [[-34.44057623049219]]  [[850.5252456794308]]

# R-Square

# Question 7 - Evaluate the model 
Calculate the accuracy score for the above model.

In [233]:
from sklearn import metrics
PY1_test = linreg.predict(x1_test)
mse = metrics.mean_squared_error(PY1_test, y1_test)
testRmse1 = np.sqrt(mse)
print(testRmse1)
PY1_train = linreg.predict(x1_train)
mse = metrics.mean_squared_error(PY1_train, y1_train)
trainRmse1 = np.sqrt(mse)
#print(trainRmse1)


PY2_test = linreg.predict(x2_test)
mse = metrics.mean_squared_error(PY2_test, y2_test)
testRmse2 = np.sqrt(mse)
print(testRmse2)
PY2_train = linreg.predict(x2_train)
mse = metrics.mean_squared_error(PY2_train, y2_train)
trainRmse2 = np.sqrt(mse)
#print(trainRmse2)

0.0
6024.621913510448

# Question 8: Repeat the same Multi linear regression modelling by adding both Income and Highway features
Find R2

In [234]:
newdata.head(4)

   tax   income   highway     dl   consumption
0  9.0     3571      1976  0.525           541
1  9.0     4092      1250  0.572           524
2  9.0     3865      1586  0.580           561
3  7.5     4870      2351  0.529           414

In [235]:
x3=newdata[[' income',' highway']]
x3_train,x3_test,y3_train,y3_test = train_test_split(x3, y, test_size=0.2, random_state = 1)
linreg3 = LinearRegression()
linreg3.fit(x3_train, y3_train)
#print(linreg3.score(x3_train, y3_train))
#print(linreg3.score(x3_test, y3_test))

#y3_test = linreg3.intercept_ + linreg3.coef_ * x3_test
PY3_test = linreg3.predict(x3_test)
mse3 = metrics.mean_squared_error(PY3_test, y3_test)
testRmse3 = np.sqrt(mse3)
print(testRmse3)

126.676587018207

# Question 9: Print the coefficients of the multilinear regression model

In [236]:
linreg3.coef_

array([[-0.07894972,  0.00135527]])

# Question 10 
In one or two sentences give reasoning on R-Square on the basis of above findings
Answer

### *R squared value increase if we increase the number of independent variables to our analysis

In [238]:
print(linreg1.score(x1_train,y1_train))
print(linreg2.score(x2_train,y2_train))
print(linreg3.score(x3_train,y3_train))

0.2445141594398036
0.12574875560618093
0.3315471916458195

R Square value increased when we combined 'income and highway' features as compared to 'dl' and 'tax', meaning the combined model is better.