# Content Based Recommendation System

# Q1 Read the Dataset `movies_metadata-1.csv`

In [2]:
import pandas as pd
import numpy as np
movies = pd.read_csv("movies_metadata-1.csv")

/anaconda3/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)


# Q2 Create a new column with name 'description' combining 'overview' and 'tagline' columns in the given dataset

In [3]:
#movies.info()

movies['description'] = movies[['overview', 'tagline']].astype(str).sum(axis=1)

# Q3  Lets drop the null values in `description` column

In [4]:
movies.shape

(45466, 25)

# Q4 Keep the first occurance and drop duplicates of each title in column 'title'

In [5]:
movies.drop_duplicates(['title'], inplace=True)

# Q5   As we might have dropped a few rows with duplicate `title` in above step, just reset the index [make sure you are not adding any new column to the dataframe while doing reset index]

In [6]:
movies.shape

(42278, 25)

In [7]:
movies.reindex()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"Led by Woody, Andy's toys live happily in his ..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,When siblings Judy and Peter discover an encha...
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,A family wedding reignites the ancient feud be...
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Cheated on, mistreated and stepped on, the wom..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Just when George Banks has recovered from his ...
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"Obsessive master thief, Neil McCauley leads a ..."
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,An ugly duckling having undergone a remarkable...
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"A mischievous young boy, Tom Sawyer, witnesses..."
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,International action superstar Jean Claude Van...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,James Bond must unmask the mysterious head of ...
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0,"Widowed U.S. president Andrew Shepherd, one of..."
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0,When a lawyer shows up at the vampire's doorst...
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,11348324.0,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0,An outcast half-wolf risks his life to prevent...
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,13681765.0,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0,An all-star cast powers this epic look at Amer...
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,"Morgan Adams and her slave, William Shaw, are ..."
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,116112375.0,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,The life of the gambling paradise – Las Vegas ...
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,135000000.0,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0,"Rich Mr. Dashwood dies, leaving his second wif..."
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0,It's Ted the Bellhop's first night on the job....
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,212385533.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0,"Summoned from an ashram in Tibet, Ace finds hi..."
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,35431113.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0,A vengeful New York transit cop decides to ste...
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,115101622.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0,Chili Palmer is a Miami mobster who gets sent ...
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,0.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0,An agoraphobic psychologist and a female detec...
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,30303072.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,Assassin Robert Rath arrives at a funeral to k...
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0,Harassed by classmates who won't accept his sh...
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,49800000.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0,"Ben Sanderson, an alcoholic Hollywood screenwr..."
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0,The evil Iago pretends to be friend of Othello...
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,27400000.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0,Waxing nostalgic about the bittersweet passage...
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0,This film adaptation of Jane Austen's last nov...
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0,A scientist in a surrealist society kidnaps ch...
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0,A provincial boy related to a Shanghai crime f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45432,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,323132,tt0074124,en,Altar of Fire,This film records a 12 day ritual performed by...,...,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Altar of Fire,False,0.0,0.0,This film records a 12 day ritual performed by...
45433,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",NaN,5589,tt0232750,cs,Šíleně smutná princezna,No overview found.,...,0.0,73.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Released,NaN,Šíleně smutná princezna,False,6.1,4.0,No overview found.nan
45434,False,NaN,0,[],NaN,325439,tt0055178,en,Le Meraviglie di Aladino,Young Aladdin (Donald O'Connor) has a series o...,...,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Wonders of Aladdin,False,0.0,0.0,Young Aladdin (Donald O'Connor) has a series o...
45435,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",NaN,63266,tt1489253,en,Fobos. Klub Strakha,Rainy summer evening... Young people are arriv...,...,0.0,79.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Phobos. Fear Kills,False,3.0,2.0,Rainy summer evening... Young people are arriv...
45436,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",NaN,45527,tt1331329,en,The Final Storm,A stranger named Silas flees from a devastatin...,...,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Action, Horror",The Final Storm,False,3.7,11.0,A stranger named Silas flees from a devastatin...
45437,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,0.0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146.0,A closeted boy runs the risk of being outed by...
45438,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,327237,tt3814486,nl,"Bloed, Zweet en Tranen","Bloed, Zweet en Tranen (Blood, Sweat and Tears...",...,0.0,111.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,The movie about Andre Hazes,"Blood, Sweat and Tears",False,6.8,11.0,"Bloed, Zweet en Tranen (Blood, Sweat and Tears..."
45439,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,84710,tt0036975,en,Jungle Woman,Paula the ape woman (Acquanetta) is alive and ...,...,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,RAPTUROUS BEAUTY!...FURY OF A BEAST!,Jungle Woman,False,5.8,2.0,Paula the ape woman (Acquanetta) is alive and ...
45440,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,39562,tt0889600,en,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",...,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,To Be Fat Like Me,False,5.0,12.0,"Pretty, popular, and slim high-schooler Aly Sc..."
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0,Hyperactive teenager Kelly is enrolled into a ...
45442,False,NaN,0,[],NaN,44330,tt0135690,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,...,0.0,3.0,[],NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0,A combination gambling den and bawdy house is ...
45443,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme à la tête de caoutchouc,A chemist in his laboratory places upon a tabl...,...,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0,A chemist in his laboratory places upon a tabl...
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0,A bearded magician holds up a large playing ca...
45445,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0,A wall full of advertising posters comes to li...
45446,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0,A man rents an apartment and furnishes it in r...
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0,The background of this picture represents a sc...
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0,This shows a prince entering upon the stage of...
45449,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,0.0,67.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,"It's Halloween in the 100 Acre Wood, and Roo's..."
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0,A band-leader has arranged seven chairs for th...
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0,A series of fantastical wrestling matches.nan
45452,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,Deep Hearts,"Deep Hearts is a film about the Bororo Fulani,...",...,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0,"Deep Hearts is a film about the Bororo Fulani,..."
45455,False,NaN,0,[],NaN,67179,tt0069215,it,San Michele aveva un gallo,Sentenced to life imprisonment for illegal act...,...,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,St. Michael Had a Rooster,False,6.0,3.0,Sentenced to life imprisonment for illegal act...
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,An unsuccessful sculptor saves a madman named ...
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0,"In this true-crime documentary, we delve into ..."
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,A film archivist revisits the story of Rustin ...
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0,It's the year 3000 AD. The world's most danger...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,Rising and falling between a man and woman.Ris...
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,An artist struggles to finish his work while a...

# Q6    Generate tf-idf matrix using the column `description`. Consider till 3-grams, with minimum document frequency as 0.

Hint:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english', min_df = 0.000)
tf_idf_vect.fit(movies['description'])
title_matrix = tf_idf_vect.transform(movies["description"])
#return_sim_movies(1854,title_matrix,tf_idf_vect,top_n=20)

# Q7  Create cosine similarity matrix

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
cosine_sim_titles = cosine_similarity(title_matrix)

In [11]:
cosine_sim_titles.shape

(42278, 42278)

# Q8  Write a function with name `recommend` which takes `title` as argument and returns a list of 10 recommended title names in the output based on the above cosine similarities

Hint:

titles = df['title'] <br>
indices = pd.Series(df.index, index=df['title']) <br>

def recommend(title): <br>
    idx = indices[title] <br>
    sim_scores = list(enumerate(cosine_similarities[idx])) <br>
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) <br>
    sim_scores = sim_scores[1:31] <br>
    movie_indices = [i[0] for i in sim_scores] <br>
    return titles.iloc[movie_indices] <br>

In [23]:
titles = movies['title'] 
indices = pd.Series(movies.index, index=movies['title']) 

def recommend(title):
    
    idx = indices[title] 
    
    sim_scores = list(enumerate(cosine_sim_titles[idx])) 
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) 
    sim_scores = sim_scores[0:10] 
    movie_indices = [i[0] for i in sim_scores] 
    return titles.iloc[movie_indices]

# Q9 Give the recommendations from above functions for movies `The Godfather` and `The Dark Knight Rises`

In [24]:
recommend("The Godfather")

834                         The Godfather
44030    The Godfather Trilogy: 1972-1990
1178               The Godfather: Part II
31973                    Honor Thy Father
23126                          Blood Ties
11992          The Cave of the Yellow Dog
18322                     The Outside Man
38030            A Mother Should Be Loved
11297                    Household Saints
4324                                 Made
Name: title, dtype: object

In [25]:
recommend("The Dark Knight Rises")

19096                              Sorry if I Love You
38534                     Sorry if I Want to Marry You
22177                                Young & Beautiful
19153                                         Rat King
17474                                          Phantom
23492                                         The Odds
15559                                             Lies
33946                                  Aanmodderfakker
4857     Spacehunter: Adventures in the Forbidden Zone
34788              The King and Queen of Moonlight Bay
Name: title, dtype: object

# Popularity Based Recommendation System

### About Dataset

Anonymous Ratings on jokes.

1. Ratings are real values ranging from -10.00 to +10.00 (the value "99" corresponds to "null" = "not rated").

2. One row per user

3. The first column gives the number of jokes rated by that user. The next 100 columns give the ratings for jokes 01 - 100.

# Q10 Read the dataset(jokes.csv)

Take care about the header in read_csv() as there are no column names given in the dataset.

In [26]:
jokes = pd.read_csv("jokes-1.csv")

# Q11 Consider `ratings` named dataframe with only first 200 rows and all columns from 1(first column is 0) of dataset

In [29]:
jokes.head(5)

,NumJokes,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

# Q12 Change the column indices from 0 to 99

In [42]:
jokes = jokes.drop('Joke100', axis=1)

# Q13 In the dataset, the null ratings are given as 99.00, so replace all 99.00s with 0
Hint: You can use `ratings.replace(<the given value>, <new value you wanted to change with>)`

In [45]:
jokes.replace(99,0)

,NumJokes,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,...,Joke90,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,0.00,2.82,0.00,0.00,0.00,0.00,0.00,-5.63,0.00,0.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,0.58,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32
2,49,0.00,0.00,0.00,0.00,9.03,9.27,9.03,9.27,0.00,...,9.03,0.00,0.00,0.00,9.08,0.00,0.00,0.00,0.00,0.00
3,48,0.00,8.35,0.00,0.00,1.80,8.16,-2.82,6.21,0.00,...,0.00,0.00,0.00,0.00,0.53,0.00,0.00,0.00,0.00,0.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,2.96,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80
5,100,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-4.71,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05
6,47,0.00,0.00,0.00,0.00,8.59,-9.85,7.72,8.79,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,2.33,0.00,0.00,0.00
7,100,6.84,3.16,9.17,-6.21,-8.16,-1.70,9.27,1.41,-5.19,...,-7.96,7.23,-1.12,-0.10,-5.68,-3.16,-3.35,2.14,-0.05,1.31
8,100,-3.79,-3.54,-9.42,-6.89,-8.74,-0.29,-5.29,-8.93,-7.86,...,-2.23,4.37,-0.29,4.17,-0.29,-0.29,-0.29,-0.29,-0.29,-3.40
9,72,3.01,5.15,5.15,3.01,6.41,5.15,8.93,2.52,3.01,...,0.00,0.00,4.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,36,-2.91,4.08,0.00,0.00,-5.73,0.00,2.48,-5.29,0.00,...,0.00,0.00,6.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,100,1.31,1.80,2.57,-2.38,0.73,0.73,-0.97,5.00,-7.23,...,-2.52,1.46,1.70,0.29,-3.30,3.45,5.44,4.08,2.48,4.51
12,47,0.00,0.00,0.00,0.00,5.87,0.00,5.58,0.53,0.00,...,0.00,0.00,0.00,7.52,0.00,0.00,0.00,0.00,0.00,0.00
13,100,9.22,9.27,9.22,8.30,7.43,0.44,3.50,8.16,5.97,...,2.09,8.11,-1.02,5.58,6.84,5.53,-5.92,8.20,8.98,-8.16
14,100,8.79,-5.78,6.02,3.69,7.77,-5.83,8.69,8.59,-5.92,...,1.12,2.72,-5.49,-8.59,8.69,-8.74,-3.01,8.30,-4.81,-2.38
15,100,-3.50,1.55,2.33,-4.13,4.22,-2.28,-2.96,-0.49,2.91,...,-2.77,3.11,1.70,0.24,-5.92,7.28,-1.36,3.74,2.82,-2.86
16,51,0.00,-9.27,0.00,0.00,-7.38,0.00,8.74,-6.31,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,100,3.16,7.62,3.79,8.25,4.22,7.62,2.43,0.97,0.53,...,5.10,0.83,5.68,3.69,0.19,0.29,3.59,0.49,8.06,0.49
18,49,4.22,3.64,0.00,0.00,2.52,0.00,4.13,-5.19,0.00,...,0.00,0.00,0.05,0.00,0.00,0.00,0.00,1.65,0.00,0.00
19,53,0.00,7.62,0.00,0.00,-8.64,2.43,8.93,-6.60,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,55,2.57,-0.73,0.00,0.00,2.57,0.00,-4.22,2.67,0.00,...,0.00,0.00,1.31,0.00,0.00,0.00,0.00,1.02,0.00,0.00
21,50,7.28,5.39,0.00,0.00,-4.22,0.00,8.93,3.50,0.00,...,0.00,0.00,-1.55,0.00,0.00,0.00,0.00,0.29,-4.61,0.00
22,72,2.72,4.17,6.50,-3.54,-3.30,2.86,7.04,4.95,6.17,...,0.00,0.00,-3.35,0.00,0.00,0.00,2.67,0.00,0.00,0.00
23,100,2.09,-7.57,4.17,-8.40,-6.31,5.34,-5.19,-5.05,-8.20,...,2.67,3.06,8.25,8.50,-9.51,8.45,8.16,7.82,8.50,8.35
24,74,-3.93,-1.17,2.28,-0.44,-2.28,2.38,-3.93,4.51,-0.34,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-1.50,-6.07,1.26
25,67,0.00,5.49,3.45,0.00,0.15,4.76,0.10,4.13,8.01,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,60,0.00,5.83,0.00,0.00,5.34,0.00,-4.47,2.18,-3.98,...,0.00,0.00,0.00,4.47,0.00,0.00,0.00,0.00,0.00,0.00
27,72,0.49,0.15,0.15,-9.56,-9.76,-9.61,0.29,1.65,-4.61,...,0.00,0.00,0.00,0.00,0.00,-0.97,0.00,0.00,0.00,0.00
28,54,0.00,0.00,0.00,0.00,-1.70,0.00,8.83,-1.89,0.00,...,0.00,0.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,46,0.00,4.08,0.00,0.00,5.87,0.00,0.44,2.28,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24953,59,0.00,0.00,0.00,0.00,-7.62,3.59,2.86,0.73,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24954,68,0.00,0.00,0.00,2.18,3.54,5.53,8.59,-5.63,4.08,...,0.00,0.00,0.00,0.00,8.06,0.00,0.00,0.00,0.00,0.00
24955,73,-2.82,-2.14,-3.30,-7.72,-1.02,-6.21,2.23,-8.20,-8.54,...,0.00,0.00,-3.35,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24956,73,3.54,8.98,6.80,-1.21,8.11,-0.10,3.74,2.18,-0.19,...,0.00,4.90,0.00,0.00,0.00,2.09,0.00,0.00,0.00,0.00
24957,36,0.00,0.00,0.00,0.00,3.79,0.00,1.55,2.38,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.97,0.00
24958,100,-2.91,-1.89,-2.86,-1.99,-7.52,-4.66,-7.52,6.02,-3.83,...,-1.26,-5.68,-5.68,-2.82,-4.61,-4.37,-3.93,-0.15,-0.87,-1.99
24959,49,0.00,-7.48,0.00,0.00,-0.29,-1.02,6.70,8.01,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.17
24960,51,0.00,0.00,0.00,0.00,0.39,0.00,-7.09,7.18,0.00,...,0.00,0.00,0.00,0.00,0.00,5.00,0.00,0.00,-6.70,0.00
24961,36,0.00,0.00,0.00,0.00,-2.52,0.00,1.07,-1.99,0.00,...,0.00,0.00,0.00,1.80,-4.17,0.00,0.00,0.00,0.00,0.00
24962,100,4.85,3.83,4.13,-5.53,2.14,-4.66,0.10,-1.75,0.44,...,4.47,-8.30,-9.56,-5.34,-3.50,2.04,-6.31,-4.42,3.06,-1.26
24963,69,8.16,7.52,7.52,8.16,1.80,8.45,7.57,7.57,8.16,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24964,72,-2.09,1.50,0.24,-8.06,1.75,1.41,-6.36,-7.72,-6.17,...,0.00,0.00,0.00,0.00,0.00,-6.02,0.00,0.00,0.00,0.00
24965,38,0.00,0.00,0.00,0.00,-6.70,0.00,-0.87,-8.74,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.87,0.00,0.00
24966,84,4.13,9.13,7.23,4.08,2.96,5.29,6.07,6.60,5.44,...,4.66,8.74,8.64,8.40,8.06,2.57,3.11,8.25,8.35,-0.34
24967,100,-0.29,-0.29,-0.29,-0.29,-1.84,0.10,-3.01,-0.29,0.49,...,-0.29,0.29,0.87,3.79,0.68,0.87,4.17,0.29,1.46,-0.29
24968,72,8.88,9.32,8.20,3.40,0.44,7.86,2.23,1.26,5.87,...,0.00,0.00,1.80,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24969,72,6.41,1.12,-5.15,-7.18,-7.38,1.07,2.28,-2.09,-6.31,...,0.00,0.00,0.00,0.00,0.00,0.00,-1.55,0.00,0.00,0.00
24970,47,0.00,0.00,0.00,0.00,-0.10,-4.22,1.46,8.83,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24971,100,4.17,4.17,9.03,-0.29,2.04,3.79,7.86,-7.86,4.17,...,-6.31,-0.68,7.28,4.95,-9.42,3.20,-2.23,5.92,-0.29,-0.29
24972,48,0.00,0.00,0.00,0.00,-6.02,-8.20,-3.93,2.52,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24973,62,1.80,-9.42,-8.20,0.00,-8.54,-0.05,-1.12,-8.45,0.00,...,0.00,0.00,0.00,0.00,0.00,-6.21,0.00,0.00,0.00,-3.74
24974,51,0.00,-9.22,0.00,0.00,5.97,8.45,-3.30,5.49,0.00,...,7.67,0.00,6.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24975,52,0.00,8.20,0.00,0.00,8.79,8.40,9.08,2.09,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,8.93,0.00,9.13,0.00
24976,78,1.36,1.75,2.38,1.84,4.66,5.00,-0.19,-0.24,9.13,...,0.00,0.00,0.00,0.00,9.22,9.03,-0.34,9.32,9.17,8.88
24977,36,0.00,0.00,0.00,0.00,7.67,0.00,1.02,-3.74,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24978,100,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,...,8.83,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79
24979,91,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,...,-0.58,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13
24980,39,0.00,0.00,0.00,0.00,-7.77,0.00,6.70,-6.75,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24981,37,0.00,0.00,0.00,0.00,-9.71,0.00,4.56,-8.30,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24982,72,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Q14 Normalize the ratings using StandardScaler and save them in `ratings_diff` variable

In [48]:
from scipy.stats import zscore
ratings_diff = jokes.apply(zscore)

### Popularity based recommendation system

# Q15  Find the mean for each column  in `ratings_diff` i.e, for each joke
Consider all the mean ratings and find the jokes with highest mean value and display the top 10 joke IDs.

In [66]:
ratings_diff.mean()

NumJokes    5.513106e-17
Joke1       5.443172e-16
Joke2      -5.723761e-18
Joke3      -4.776896e-16
Joke4      -1.169198e-15
Joke5       4.164392e-17
Joke6      -2.306871e-15
Joke7       1.940213e-17
Joke8      -3.448477e-17
Joke9      -1.332734e-15
Joke10     -2.161964e-17
Joke11     -9.663291e-16
Joke12      2.602967e-16
Joke13      1.122622e-16
Joke14     -7.230392e-16
Joke15     -2.680658e-16
Joke16      1.777121e-16
Joke17      1.137731e-16
Joke18     -3.268499e-18
Joke19     -2.406824e-17
Joke20      1.598298e-16
Joke21     -7.507104e-17
Joke22      3.751063e-16
Joke23      1.718795e-16
Joke24     -5.725672e-16
Joke25      6.881934e-16
Joke26      2.433004e-16
Joke27     -6.822075e-17
Joke28      6.655247e-17
Joke29      6.170375e-17
                ...
Joke70      1.385015e-15
Joke71     -1.547460e-16
Joke72      7.712590e-16
Joke73     -4.931589e-16
Joke74      2.729363e-16
Joke75     -7.076400e-16
Joke76     -1.095114e-15
Joke77     -8.444503e-16
Joke78     -8.014599e-16
Joke79     -9.148863e-16
Joke80     -1.200110e-15
Joke81      6.299248e-16
Joke82      4.895149e-16
Joke83      4.571010e-16
Joke84     -1.445250e-16
Joke85     -7.153102e-16
Joke86     -7.440090e-16
Joke87      4.578031e-16
Joke88     -3.429902e-16
Joke89     -7.005030e-16
Joke90     -1.484010e-15
Joke91      1.027033e-15
Joke92      9.846291e-16
Joke93      5.471258e-16
Joke94      1.884131e-16
Joke95      8.222574e-16
Joke96     -7.235136e-16
Joke97     -3.259166e-17
Joke98     -1.747862e-15
Joke99     -1.083542e-15
Length: 100, dtype: float64