<a href="https://colab.research.google.com/github/hemanthmeruga/IEApp/blob/master/R6_InternalLab_AIML_HM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Load tensorflow

In [0]:
import tensorflow as tf

In [0]:
from sklearn.preprocessing import Normalizer

### Collect Data

In [0]:
import pandas as pd

In [0]:
def mount_drive(filename):
  from google.colab import drive
  drive.mount('/gdrive/')
  data = pd.read_csv('/gdrive/My Drive/Colab Notebooks/' + filename)
  return data

In [0]:
data =mount_drive("prices.csv")

Drive already mounted at /gdrive/; to attempt to forcibly remount, call drive.mount("/gdrive/", force_remount=True).

### Check all columns in the dataset

In [0]:
data.dtypes

date       object
symbol     object
open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

In [0]:
data.shape

(851264, 7)

In [0]:
data.describe()

,open,close,low,high,volume
count,851264.000000,851264.000000,851264.000000,851264.000000,8.512640e+05
mean,70.836986,70.857109,70.118414,71.543476,5.415113e+06
std,83.695876,83.689686,82.877294,84.465504,1.249468e+07
min,0.850000,0.860000,0.830000,0.880000,0.000000e+00
25%,33.840000,33.849998,33.480000,34.189999,1.221500e+06
50%,52.770000,52.799999,52.230000,53.310001,2.476250e+06
75%,79.879997,79.889999,79.110001,80.610001,5.222500e+06
max,1584.439941,1578.130005,1549.939941,1600.930054,8.596434e+08

### Drop columns `date` and  `symbol`

In [0]:
data.drop(columns=['date','symbol'],axis=1,inplace=True)

### Consider only first 1000 rows in the dataset for building feature set and target set

In [0]:
data = data.head(1000)

In [0]:
data.shape

(1000, 5)

In [0]:
data.sample(5)

           open       close         low        high      volume
68   115.809998  117.989998  115.099998  118.010002    621700.0
597   40.259998   40.349998   40.259998   40.630001    546500.0
232  120.690002  121.480003  120.180000  122.059998    604700.0
415   82.610001   83.459999   82.550003   83.599998  18082400.0
607   26.139999   25.799999   25.719999   26.280001   2792600.0

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split

X = data.drop(columns= "close" , axis = 1) 
Y = data["close"]
transformer = Normalizer()
X= transformer.fit_transform(X)

train_x, test_x,train_y,test_y = train_test_split(X, Y, test_size=.3, random_state=7)

## Building the graph in tensorflow

1.Define input data placeholders

In [0]:
X1 = tf.placeholder(dtype=tf.float32, shape=[None, 4])
Y1 = tf.placeholder(dtype=tf.float32, shape=[None])

2.Define Weights and Bias

In [0]:
w = tf.Variable(tf.zeros(shape=[4,1],dtype="float32"))
b = tf.Variable(tf.zeros(shape=(1),dtype="float32"))

3.Prediction

In [0]:
out = tf.add(tf.matmul(X1, w), b)

4.Loss (Cost) Function [Mean square error]

In [0]:
mse = tf.reduce_mean(tf.squared_difference(out, Y1))

5.GradientDescent Optimizer to minimize Loss [GradientDescentOptimizer]

In [0]:
opt=tf.train.GradientDescentOptimizer(0.01).minimize(mse)

## Execute the Graph for 100 epochs and observe the loss

In [0]:
net = tf.Session()
net.run(tf.global_variables_initializer())

In [0]:

for i in range(100):
    _,loss = net.run([opt,mse], feed_dict={X1: train_x, Y1: train_y})
    print('Current Loss on iteration',i,loss)

Current Loss on iteration 0 8370.582
Current Loss on iteration 1 8002.651
Current Loss on iteration 2 7663.5664
Current Loss on iteration 3 7351.0664
Current Loss on iteration 4 7063.0654
Current Loss on iteration 5 6797.644
Current Loss on iteration 6 6553.032
Current Loss on iteration 7 6327.598
Current Loss on iteration 8 6119.837
Current Loss on iteration 9 5928.3643
Current Loss on iteration 10 5751.9043
Current Loss on iteration 11 5589.278
Current Loss on iteration 12 5439.4014
Current Loss on iteration 13 5301.276
Current Loss on iteration 14 5173.9785
Current Loss on iteration 15 5056.662
Current Loss on iteration 16 4948.5425
Current Loss on iteration 17 4848.9004
Current Loss on iteration 18 4757.0693
Current Loss on iteration 19 4672.438
Current Loss on iteration 20 4594.442
Current Loss on iteration 21 4522.5615
Current Loss on iteration 22 4456.3154
Current Loss on iteration 23 4395.263
Current Loss on iteration 24 4338.997
Current Loss on iteration 25 4287.143
Current Loss on iteration 26 4239.3545
Current Loss on iteration 27 4195.312
Current Loss on iteration 28 4154.7227
Current Loss on iteration 29 4117.3154
Current Loss on iteration 30 4082.8408
Current Loss on iteration 31 4051.0693
Current Loss on iteration 32 4021.7888
Current Loss on iteration 33 3994.8032
Current Loss on iteration 34 3969.934
Current Loss on iteration 35 3947.0146
Current Loss on iteration 36 3925.891
Current Loss on iteration 37 3906.4243
Current Loss on iteration 38 3888.4841
Current Loss on iteration 39 3871.95
Current Loss on iteration 40 3856.7122
Current Loss on iteration 41 3842.669
Current Loss on iteration 42 3829.7268
Current Loss on iteration 43 3817.799
Current Loss on iteration 44 3806.8066
Current Loss on iteration 45 3796.6765
Current Loss on iteration 46 3787.3403
Current Loss on iteration 47 3778.7356
Current Loss on iteration 48 3770.806
Current Loss on iteration 49 3763.4978
Current Loss on iteration 50 3756.7625
Current Loss on iteration 51 3750.5554
Current Loss on iteration 52 3744.835
Current Loss on iteration 53 3739.5627
Current Loss on iteration 54 3734.7046
Current Loss on iteration 55 3730.226
Current Loss on iteration 56 3726.0999
Current Loss on iteration 57 3722.2969
Current Loss on iteration 58 3718.7915
Current Loss on iteration 59 3715.5615
Current Loss on iteration 60 3712.5847
Current Loss on iteration 61 3709.841
Current Loss on iteration 62 3707.3125
Current Loss on iteration 63 3704.9822
Current Loss on iteration 64 3702.8347
Current Loss on iteration 65 3700.8552
Current Loss on iteration 66 3699.0312
Current Loss on iteration 67 3697.3506
Current Loss on iteration 68 3695.8013
Current Loss on iteration 69 3694.3733
Current Loss on iteration 70 3693.0576
Current Loss on iteration 71 3691.845
Current Loss on iteration 72 3690.7275
Current Loss on iteration 73 3689.6978
Current Loss on iteration 74 3688.748
Current Loss on iteration 75 3687.8735
Current Loss on iteration 76 3687.0671
Current Loss on iteration 77 3686.3242
Current Loss on iteration 78 3685.6394
Current Loss on iteration 79 3685.0085
Current Loss on iteration 80 3684.4268
Current Loss on iteration 81 3683.8906
Current Loss on iteration 82 3683.397
Current Loss on iteration 83 3682.9414
Current Loss on iteration 84 3682.5225
Current Loss on iteration 85 3682.1353
Current Loss on iteration 86 3681.779
Current Loss on iteration 87 3681.451
Current Loss on iteration 88 3681.1477
Current Loss on iteration 89 3680.869
Current Loss on iteration 90 3680.6118
Current Loss on iteration 91 3680.375
Current Loss on iteration 92 3680.1567
Current Loss on iteration 93 3679.9556
Current Loss on iteration 94 3679.7698
Current Loss on iteration 95 3679.5994
Current Loss on iteration 96 3679.4417
Current Loss on iteration 97 3679.2966
Current Loss on iteration 98 3679.1626
Current Loss on iteration 99 3679.0396

### Get the shapes and values of W and b

Hint: Use sess.run(W) to get W.

In [0]:
net.run(w).shape

(4, 1)

In [0]:
net.run(w)

array([[2.5353241e-03],
       [2.5108382e-03],
       [2.5564777e-03],
       [3.3674850e+01]], dtype=float32)

In [0]:
net.run(b).shape

(1,)

In [0]:
net.run(b)

array([33.674854], dtype=float32)

In [0]:
net.close()

### Linear Classification using Keras

### Building the simple Neural Network in Keras with one neuron in the dense hidden layer.
#### Use Mean square error as loss function and sgd as optimizer

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
#Initialize Sequential model
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.BatchNormalization())
model.add(tf.keras.layers.Dense(1,  input_shape=(4,)))

### Execute the model

In [0]:
model.compile(optimizer='sgd', loss='mean_squared_error')

In [0]:
from sklearn.model_selection import train_test_split

X = data.drop(columns= "close" , axis = 1) 
Y = data["close"]
transformer = Normalizer()
X= transformer.fit_transform(X)

train_x, test_x,train_y,test_y = train_test_split(X, Y, test_size=.3, random_state=7)

In [0]:
model.fit(train_x,train_y, epochs=100)

ValueError: ignored

In [0]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_v1_2 (Ba multiple                  16
_________________________________________________________________
dense_4 (Dense)              multiple                  5
=================================================================
Total params: 21
Trainable params: 13
Non-trainable params: 8
_________________________________________________________________

### Classification using Keras

### Load the given Iris data using pandas (Iris.csv)

In [0]:
iris= mount_drive("Iris-1.csv")

Drive already mounted at /gdrive/; to attempt to forcibly remount, call drive.mount("/gdrive/", force_remount=True).

In [0]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [0]:
iris.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [0]:
iris["Species"] = pd.Categorical(iris["Species"]).codes

In [0]:
iris.drop("Id",axis=1,inplace=True)

### Splitting the data into feature set and target set

In [0]:
features = iris.drop(columns= ['Species']) 

target = iris[['Species']]

In [0]:
features.head(2)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2

In [0]:
target.head(2)

   Species
0        0
1        0

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

### Divide the dataset into Training and test (70:30)

In [0]:
from sklearn.model_selection import train_test_split
transformer = Normalizer()
#features = transformer.fit_transform(features)

train_x, test_x,train_y,test_y = train_test_split(features, target, test_size=.3, random_state=7)

### Model
Build the model with following layers: <br>
1. First dense layer with 10 neurons with input shape 4 (according to the feature set) <br>
2. Second Dense layer with 8 neurons <br>
3. Output layer with 3 neurons with softmax activation (output layer, 3 neurons as we have 3 classes) <br>
4. Use SGD and categorical_crossentropy loss

In [0]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.BatchNormalization())

model.add(tf.keras.layers.Dense(10, activation='relu', input_shape=(4,)))
model.add(tf.keras.layers.Dense(8, activation='relu'))
model.add(tf.keras.layers.Dense(3, activation='softmax'))

#Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

#Compile the model
model.compile(optimizer=sgd_optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

### Fitting the model and predicting

In [0]:

#train model
model.fit(features.values, target.values, validation_split=0.2, epochs=30)

Train on 120 samples, validate on 30 samples
Epoch 1/30
120/120 [==============================] - 0s 1ms/sample - loss: 2.4904 - acc: 0.0000e+00 - val_loss: 7.9632 - val_acc: 0.0000e+00
Epoch 2/30
120/120 [==============================] - 0s 142us/sample - loss: 2.4862 - acc: 0.0333 - val_loss: 7.6380 - val_acc: 0.0000e+00
Epoch 3/30
120/120 [==============================] - 0s 146us/sample - loss: 2.4831 - acc: 0.0500 - val_loss: 7.4335 - val_acc: 0.0000e+00
Epoch 4/30
120/120 [==============================] - 0s 159us/sample - loss: 2.4814 - acc: 0.0583 - val_loss: 7.2702 - val_acc: 0.0000e+00
Epoch 5/30
120/120 [==============================] - 0s 153us/sample - loss: 2.4802 - acc: 0.0917 - val_loss: 7.1517 - val_acc: 0.0000e+00
Epoch 6/30
120/120 [==============================] - 0s 146us/sample - loss: 2.4781 - acc: 0.1167 - val_loss: 7.0617 - val_acc: 0.0000e+00
Epoch 7/30
120/120 [==============================] - 0s 143us/sample - loss: 2.4780 - acc: 0.1417 - val_loss: 6.9922 - val_acc: 0.0000e+00
Epoch 8/30
120/120 [==============================] - 0s 135us/sample - loss: 2.4776 - acc: 0.1750 - val_loss: 6.9336 - val_acc: 0.0000e+00
Epoch 9/30
120/120 [==============================] - 0s 127us/sample - loss: 2.4770 - acc: 0.1667 - val_loss: 6.8870 - val_acc: 0.0000e+00
Epoch 10/30
120/120 [==============================] - 0s 130us/sample - loss: 2.4758 - acc: 0.2000 - val_loss: 6.8469 - val_acc: 0.0000e+00
Epoch 11/30
120/120 [==============================] - 0s 195us/sample - loss: 2.4759 - acc: 0.2167 - val_loss: 6.8152 - val_acc: 0.0000e+00
Epoch 12/30
120/120 [==============================] - 0s 190us/sample - loss: 2.4752 - acc: 0.2500 - val_loss: 6.7874 - val_acc: 0.0000e+00
Epoch 13/30
120/120 [==============================] - 0s 153us/sample - loss: 2.4759 - acc: 0.2333 - val_loss: 6.7630 - val_acc: 0.0000e+00
Epoch 14/30
120/120 [==============================] - 0s 151us/sample - loss: 2.4762 - acc: 0.2167 - val_loss: 6.7394 - val_acc: 0.0000e+00
Epoch 15/30
120/120 [==============================] - 0s 152us/sample - loss: 2.4752 - acc: 0.2667 - val_loss: 6.7226 - val_acc: 0.0000e+00
Epoch 16/30
120/120 [==============================] - 0s 150us/sample - loss: 2.4753 - acc: 0.2917 - val_loss: 6.7093 - val_acc: 0.0000e+00
Epoch 17/30
120/120 [==============================] - 0s 155us/sample - loss: 2.4751 - acc: 0.2833 - val_loss: 6.6969 - val_acc: 0.0000e+00
Epoch 18/30
120/120 [==============================] - 0s 148us/sample - loss: 2.4748 - acc: 0.2750 - val_loss: 6.6860 - val_acc: 0.0000e+00
Epoch 19/30
120/120 [==============================] - 0s 133us/sample - loss: 2.4745 - acc: 0.2833 - val_loss: 6.6764 - val_acc: 0.0000e+00
Epoch 20/30
120/120 [==============================] - 0s 142us/sample - loss: 2.4748 - acc: 0.3167 - val_loss: 6.6687 - val_acc: 0.0000e+00
Epoch 21/30
120/120 [==============================] - 0s 145us/sample - loss: 2.4745 - acc: 0.3167 - val_loss: 6.6616 - val_acc: 0.0000e+00
Epoch 22/30
120/120 [==============================] - 0s 163us/sample - loss: 2.4750 - acc: 0.2750 - val_loss: 6.6538 - val_acc: 0.0000e+00
Epoch 23/30
120/120 [==============================] - 0s 136us/sample - loss: 2.4742 - acc: 0.2750 - val_loss: 6.6487 - val_acc: 0.0000e+00
Epoch 24/30
120/120 [==============================] - 0s 136us/sample - loss: 2.4742 - acc: 0.2667 - val_loss: 6.6433 - val_acc: 0.0000e+00
Epoch 25/30
120/120 [==============================] - 0s 158us/sample - loss: 2.4741 - acc: 0.3167 - val_loss: 6.6388 - val_acc: 0.0000e+00
Epoch 26/30
120/120 [==============================] - 0s 158us/sample - loss: 2.4753 - acc: 0.2667 - val_loss: 6.6348 - val_acc: 0.0000e+00
Epoch 27/30
120/120 [==============================] - 0s 143us/sample - loss: 2.4742 - acc: 0.2417 - val_loss: 6.6311 - val_acc: 0.0000e+00
Epoch 28/30
120/120 [==============================] - 0s 144us/sample - loss: 2.4748 - acc: 0.2500 - val_loss: 6.6274 - val_acc: 0.0000e+00
Epoch 29/30
120/120 [==============================] - 0s 136us/sample - loss: 2.4744 - acc: 0.2750 - val_loss: 6.6238 - val_acc: 0.0000e+00
Epoch 30/30
120/120 [==============================] - 0s 147us/sample - loss: 2.4743 - acc: 0.2333 - val_loss: 6.6201 - val_acc: 0.0000e+00

### Report Accuracy of the predicted values

In [0]:
model.predict(test_x)

array([[0.31266114, 0.3359437 , 0.35139513],
       [0.30647665, 0.32860282, 0.3649205 ],
       [0.2697001 , 0.31608474, 0.4142151 ],
       [0.30983818, 0.33588454, 0.35427728],
       [0.33724383, 0.3301039 , 0.3326523 ],
       [0.29762256, 0.3450849 , 0.35729256],
       [0.302427  , 0.3947364 , 0.3028366 ],
       [0.3221134 , 0.35264298, 0.32524362],
       [0.27069396, 0.32167685, 0.40762922],
       [0.30681744, 0.36379626, 0.32938626],
       [0.3108494 , 0.37864232, 0.31050825],
       [0.29403183, 0.33183616, 0.374132  ],
       [0.234098  , 0.32249752, 0.44340444],
       [0.28217614, 0.35773295, 0.3600909 ],
       [0.26453003, 0.32299492, 0.41247505],
       [0.29544476, 0.3307112 , 0.3738441 ],
       [0.33089504, 0.36824295, 0.30086195],
       [0.31355184, 0.36431384, 0.32213432],
       [0.24862848, 0.3213934 , 0.42997816],
       [0.2801069 , 0.3274986 , 0.39239445],
       [0.32221147, 0.35943076, 0.31835774],
       [0.30521223, 0.36602014, 0.32876766],
       [0.31118053, 0.37142774, 0.31739172],
       [0.32813635, 0.36882252, 0.30304107],
       [0.2945557 , 0.42406905, 0.28137532],
       [0.31085178, 0.3447649 , 0.3443834 ],
       [0.3128103 , 0.3722539 , 0.31493583],
       [0.3299893 , 0.35801482, 0.3119959 ],
       [0.3331365 , 0.32966658, 0.33719698],
       [0.3061959 , 0.34918725, 0.34461686],
       [0.32636395, 0.35638976, 0.31724635],
       [0.32465097, 0.3617985 , 0.3135506 ],
       [0.2730228 , 0.31688654, 0.4100906 ],
       [0.3153221 , 0.3722133 , 0.31246457],
       [0.31191105, 0.37972596, 0.30836296],
       [0.29293302, 0.3178026 , 0.38926443],
       [0.26164946, 0.32541442, 0.41293615],
       [0.24543695, 0.31578615, 0.4387769 ],
       [0.26590562, 0.31782657, 0.41626775],
       [0.31809747, 0.3776079 , 0.30429468],
       [0.30066007, 0.3597492 , 0.33959073],
       [0.30902258, 0.4026328 , 0.28834468],
       [0.33261853, 0.33409768, 0.33328375],
       [0.3158453 , 0.3676866 , 0.31646806],
       [0.31015715, 0.3554378 , 0.33440506]], dtype=float32)